In [62]:
import pandas as pd

In [63]:
roblox = pd.read_csv("/content/drive/MyDrive/·Ñâ·Ö•·Üº·ÑÄ·Ö≤·Ü´·ÑÄ·Ö™·Ü´·ÑÉ·Ö¢/roblox_en_us.csv")
display(roblox)

<ipython-input-63-b0ef01046cd1>:1: DtypeWarning: Columns (9,10) have mixed types. Specify dtype option on import or set low_memory=False.
  roblox = pd.read_csv("/content/drive/MyDrive/·Ñâ·Ö•·Üº·ÑÄ·Ö≤·Ü´·ÑÄ·Ö™·Ü´·ÑÉ·Ö¢/roblox_en_us.csv")

,Unnamed: 0,reviewId,userName,userImage,content,score,thumbsUpCount,reviewCreatedVersion,at,replyContent,repliedAt
0,0,ab9c2487-49d6-416f-9bc7-cc5899ff64df,Marlyn Cave,https://play-lh.googleusercontent.com/a/AGNmyx...,worst game,1,0,NaN,2023-03-28 13:10:34,NaN,NaN
1,1,b422be41-d954-44cc-831b-211ee214d90e,baboonate (bab),https://play-lh.googleusercontent.com/a-/ACB-R...,Moblie controll is an issue,5,0,2.568.524,2023-03-28 13:10:09,NaN,NaN
2,2,a1f27128-75ef-4bcf-85d4-ce1b70a72971,Edison Nonato,https://play-lh.googleusercontent.com/a/AGNmyx...,I like this even i dont have rubox i wish robl...,5,0,2.566.545,2023-03-28 13:10:09,NaN,NaN
3,3,5b91dc42-825b-4be6-89c6-c7ddccad1cf9,Laconsay md Paul,https://play-lh.googleusercontent.com/a/AGNmyx...,The game is good,5,0,2.567.544,2023-03-28 13:09:42,NaN,NaN
4,4,53d26fc2-f9b5-4d7a-b96c-160f0969fb54,babu Narayanappa,https://play-lh.googleusercontent.com/a/AGNmyx...,Super but in some games it is very lage,5,0,2.568.524,2023-03-28 13:09:30,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
440382,440382,b431fa65-0a19-40fe-b74c-9e8b31a5fc9b,Nathaniel B,https://play-lh.googleusercontent.com/a/AGNmyx...,I love this game,5,0,2.543.566,2022-10-02 09:52:31,NaN,NaN
440383,440383,c412b089-46a2-405d-9f2c-db3b10087b25,Brashoni Wolf,https://play-lh.googleusercontent.com/a-/ACB-R...,Best game ever,5,0,2.543.567,2022-10-02 09:51:54,NaN,NaN
440384,440384,d8f8bc41-5f80-4a81-b934-daebde219627,Random Person,https://play-lh.googleusercontent.com/a-/ACB-R...,ROBLOX YOU HAVENT GIVEN ME MY AC BACK LIKE IM ...,2,0,2.546.522,2022-10-02 09:51:29,NaN,NaN
440385,440385,e1e54dd0-8daf-4fc0-a807-bd157e3217be,Courtney Folkland,https://play-lh.googleusercontent.com/a/AGNmyx...,miamora kilp ilove it it is fun,5,0,2.545.432,2022-10-02 09:50:20,NaN,NaN
440386,440386,479df06a-048a-46eb-8f16-fa4a7c10e5fc,Essy Kilpatrick,https://play-lh.googleusercontent.com/a-/ACB-R...,So the game is pretty fun and everything but i...,2,0,2.546.522,2022-10-02 09:50:12,NaN,NaN

In [64]:
zepeto = pd.read_csv("/content/drive/MyDrive/·Ñâ·Ö•·Üº·ÑÄ·Ö≤·Ü´·ÑÄ·Ö™·Ü´·ÑÉ·Ö¢/zepeto_en_us.csv")
display(zepeto)

,Unnamed: 0,reviewId,userName,userImage,content,score,thumbsUpCount,reviewCreatedVersion,at,replyContent,repliedAt
0,0,e2432cb1-8740-4686-9de2-57cadc689340,Ajay Rachaya,https://play-lh.googleusercontent.com/a/AGNmyx...,Nothing to tell,5,0,NaN,2023-03-28 11:58:52,NaN,NaN
1,1,406cab5d-1cef-4e33-89c4-2f0ce4d967bd,Jamsranjav Oogii,https://play-lh.googleusercontent.com/a/AGNmyx...,wow,5,0,NaN,2023-03-28 11:50:56,NaN,NaN
2,2,786a454c-66e2-4aff-ba10-9f85749d25e3,Tang Yi Xuan,https://play-lh.googleusercontent.com/a-/ACB-R...,I didn't receive my zem even I waste my time t...,1,0,3.21.100,2023-03-28 11:33:03,NaN,NaN
3,3,150d7c8b-d53a-4198-ac73-9d2eda631b04,naveen bansal,https://play-lh.googleusercontent.com/a/AGNmyx...,Time waste,1,0,NaN,2023-03-28 11:21:28,NaN,NaN
4,4,9afeb213-66b9-4c8e-84fb-33bbf0d22122,Clint Fink,https://play-lh.googleusercontent.com/a/AGNmyx...,It's rlly fun,5,0,3.19.200,2023-03-28 11:12:59,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
158823,158823,44772b67-2654-4182-aec9-624e7192294d,A Google user,https://play-lh.googleusercontent.com/EGemoI2N...,I Love itüíï,5,13,NaN,2018-09-24 18:25:13,ZEPETO Loves you üíï,2018-09-28 14:58:31
158824,158824,80a8f740-5823-40b7-9d34-0cb5f9618514,A Google user,https://play-lh.googleusercontent.com/EGemoI2N...,Its alright,5,7,2.1.0,2018-09-23 09:47:39,NaN,NaN
158825,158825,6d398dc8-1b5f-4aba-b41a-39140e23faef,A Google user,https://play-lh.googleusercontent.com/EGemoI2N...,Cute... but there's not much to do. It's like ...,3,1,2.1.0,2018-09-23 06:08:35,Please try the new version! You can chat with ...,2018-09-28 14:18:19
158826,158826,ae14bef5-d32c-45ed-96fb-17e48f3e5745,A Google user,https://play-lh.googleusercontent.com/EGemoI2N...,The camera is black.You can't take a pictureüôÑüòù,1,3,2.1.0,2018-09-22 17:28:37,You can't create your own ZEPETO unless you au...,2018-09-28 14:15:46
158827,158827,da4674aa-8c83-4be2-9bab-2fc897f4129a,A Google user,https://play-lh.googleusercontent.com/EGemoI2N...,Boooooooooo! Boringüòí üòí,1,1,NaN,2018-09-19 06:11:20,Thank you and we promise to service much bette...,2018-09-28 14:51:57

In [65]:
for df in [zepeto, roblox]:
  df['date'] = pd.to_datetime(df['at'], format='%Y-%m-%d %H:%M:%S', errors='raise')
  df['year']= df['date'].dt.year
  df['month']= df['date'].dt.month

In [66]:
roblox.describe()

,Unnamed: 0,score,thumbsUpCount,year,month
count,440387.000000,440387.000000,440387.000000,440387.000000,440387.000000
mean,220193.000000,4.286725,2.505217,2022.467403,6.739733
std,127128.920836,1.309751,123.982636,0.498937,4.536498
min,0.000000,1.000000,0.000000,2022.000000,1.000000
25%,110096.500000,4.000000,0.000000,2022.000000,2.000000
50%,220193.000000,5.000000,0.000000,2022.000000,10.000000
75%,330289.500000,5.000000,0.000000,2023.000000,11.000000
max,440386.000000,5.000000,31052.000000,2023.000000,12.000000

In [116]:
for df in [zepeto, roblox]:
  display(df[df['score']>=4].groupby(["year", "month"]).count())

            Unnamed: 0  reviewId  userName  userImage  content  score  \
year month
2018 9               9         9         9          9        9      9
     10            944       944       944        944      944    944
     11           1862      1862      1862       1862     1862   1862
     12           3249      3249      3249       3249     3249   3249
2019 1            1113      1113      1113       1113     1113   1113
     2            1111      1111      1111       1111     1111   1111
     3            1476      1476      1476       1476     1476   1476
     4            1688      1688      1688       1688     1688   1688
     5             810       810       810        810      810    810
     6             568       568       568        568      568    568
     7             588       588       588        588      588    588
     8             444       444       444        444      444    444
     9             439       439       439        439      439    439
     10            754       754       754        754      754    754
     11            528       528       528        528      528    528
     12           1070      1070      1070       1070     1070   1070
2020 1             500       500       500        500      500    500
     2             952       952       952        952      952    952
     3             707       707       707        707      707    707
     4            1349      1349      1349       1349     1349   1349
     5            1389      1389      1389       1389     1389   1389
     6            1998      1998      1998       1998     1998   1998
     7            1253      1253      1253       1253     1253   1253
     8            1721      1721      1721       1721     1721   1721
     9            1931      1931      1931       1931     1931   1931
     10           1993      1993      1993       1993     1993   1993
     11           2038      2038      2038       2038     2038   2038
     12           2289      2289      2289       2289     2289   2289
2021 1            2223      2223      2223       2223     2223   2223
     2            2363      2363      2363       2363     2363   2363
     3            2115      2115      2115       2115     2115   2115
     4            1893      1893      1893       1893     1893   1893
     5            3221      3221      3221       3221     3221   3221
     6            2954      2954      2954       2954     2954   2954
     7            3125      3125      3125       3125     3125   3125
     8            3034      3034      3034       3034     3034   3034
     9            3275      3275      3275       3275     3275   3275
     10           3698      3698      3698       3698     3698   3698
     11           3672      3672      3672       3672     3672   3672
     12           3223      3223      3223       3223     3223   3223
2022 1            3246      3246      3246       3246     3246   3246
     2            2786      2786      2786       2786     2786   2786
     3            2550      2550      2550       2550     2550   2550
     4            2578      2578      2578       2578     2578   2578
     5            2173      2173      2173       2173     2173   2173
     6            1835      1835      1835       1835     1835   1835
     7            1966      1966      1966       1966     1966   1966
     8            1657      1657      1657       1657     1657   1657
     9            1178      1178      1178       1178     1178   1178
     10           1501      1501      1501       1501     1501   1501
     11           1257      1257      1257       1257     1257   1257
     12           1617      1617      1617       1617     1617   1617
2023 1            1769      1769      1769       1769     1769   1769
     2            1470      1470      1470       1470     1470   1470
     3            1573      1573      1573       1573     1573   1573

            thumbsUpCount  reviewCreatedVersion    at  replyContent  \
year month
2018 9                  9                     5     9             8
     10               944                   438   944            56
     11              1862                   947  1862             2
     12              3249                  1682  3249             3
2019 1               1113                   581  1113             6
     2               1111                   556  1111             1
     3               1476                   819  1476             0
     4               1688                  1277  1688             3
     5                810                   467   810             0
     6                568                   276   568             1
     7                588                   427   588             1
     8                444                   280   444             0
     9                439                   254   439             2
     10               754                   517   754             5
     11               528                   252   528             1
     12              1070                   727  1070             6
2020 1                500                   208   500             1
     2                952                   621   952             2
     3                707                   440   707            36
     4               1349                   739  1349            13
     5               1389                   776  1389            17
     6               1998                  1144  1998             5
     7               1253                   507  1253             2
     8               1721                   939  1721             6
     9               1931                   881  1931             3
     10              1993                   932  1993             8
     11              2038                   881  2038             0
     12              2289                   881  2289             3
2021 1               2223                   767  2223             3
     2               2363                  1136  2363             2
     3               2115                  1043  2115             5
     4               1893                   748  1893             2
     5               3221                  1428  3221            13
     6               2954                  1295  2954           144
     7               3125                  1371  3125           806
     8               3034                  1271  3034           539
     9               3275                  1475  3275          1687
     10              3698                  1685  3698          2904
     11              3672                  2226  3672          1657
     12              3223                  1815  3223           513
2022 1               3246                  1981  3246           502
     2               2786                  1684  2786           339
     3               2550                  1426  2550           308
     4               2578                  1562  2578           337
     5               2173                  1218  2173           239
     6               1835                  1171  1835           233
     7               1966                  1282  1966           260
     8               1657                  1067  1657           222
     9               1178                   748  1178           158
     10              1501                   973  1501           205
     11              1257                   814  1257           177
     12              1617                  1023  1617           209
2023 1               1769                  1265  1769            79
     2               1470                   968  1470            27
     3               1573                  1005  1573            23

            repliedAt  date
year month
2018 9              8     9
     10            56   944
     11             2  1862
     12             3  3249
2019 1              6  1113
     2              1  1111
     3              0  1476
     4              3  1688
     5              0   810
     6              1   568
     7              1   588
     8              0   444
     9              2   439
     10             5   754
     11             1   528
     12             6  1070
2020 1              1   500
     2              2   952
     3             36   707
     4             13  1349
     5             17  1389
     6              5  1998
     7              2  1253
     8              6  1721
     9              3  1931
     10             8  1993
     11             0  2038
     12             3  2289
2021 1              3  2223
     2              2  2363
     3              5  2115
     4              2  1893
     5             13  3221
     6            144  2954
     7            806  3125
     8            539  3034
     9           1687  3275
     10          2904  3698
     11          1657  3672
     12           513  3223
2022 1            502  3246
     2            339  2786
     3            308  2550
     4            337  2578
     5            239  2173
     6            233  1835
     7            260  1966
     8            222  1657
     9            158  1178
     10           205  1501
     11           177  1257
     12           209  1617
2023 1             79  1769
     2             27  1470
     3             23  1573

            Unnamed: 0  reviewId  userName  userImage  content  score  \
year month
2022 10          75606     75606     75605      75606    75606  75606
     11          62057     62057     62057      62057    62054  62057
     12          56478     56478     56478      56478    56478  56478
2023 1           55288     55288     55288      55288    55288  55288
     2           59685     59685     59685      59685    59685  59685
     3           50888     50888     50888      50888    50888  50888

            thumbsUpCount  reviewCreatedVersion     at  replyContent  \
year month
2022 10             75606                 62708  75606             1
     11             62057                 51678  62057             0
     12             56478                 45633  56478             0
2023 1              55288                 44150  55288             0
     2              59685                 48234  59685             0
     3              50888                 40508  50888             0

            repliedAt   date
year month
2022 10             1  75606
     11             0  62057
     12             0  56478
2023 1              0  55288
     2              0  59685
     3              0  50888

In [69]:
data=pd.read_csv("/content/drive/MyDrive/·Ñâ·Ö•·Üº·ÑÄ·Ö≤·Ü´·ÑÄ·Ö™·Ü´·ÑÉ·Ö¢/zep_selected.csv")

In [70]:
data

,Unnamed: 0,reviewId,userName,userImage,content,score,thumbsUpCount,reviewCreatedVersion,at,replyContent,repliedAt,words_selected
0,2,786a454c-66e2-4aff-ba10-9f85749d25e3,Tang Yi Xuan,https://play-lh.googleusercontent.com/a-/ACB-R...,I didn't receive my zem even I waste my time t...,1,0,3.21.100,2023-03-28 11:33:03,NaN,NaN,"['receive', 'zem', 'waste', 'time', 'play', 'g..."
1,7,a75d61b2-97eb-4445-8d64-e1be1fc19cb1,Kayla Devariste,https://play-lh.googleusercontent.com/a/AGNmyx...,It's so much fun I love it and u make new frie...,4,0,3.24.100,2023-03-28 09:47:42,NaN,NaN,"['much', 'fun', 'love', 'make', 'new', 'friend..."
2,9,7f37c547-bb20-4ac3-bc36-2b3bef4cb964,Jonnie Coulter,https://play-lh.googleusercontent.com/a-/ACB-R...,"I rated it a one, because I tried downloading ...",1,0,3.24.100,2023-03-28 09:13:39,NaN,NaN,"['rated', 'tried', 'downloading', 'let', 'got'..."
3,11,5ea44867-c701-4c37-81aa-14016f6c3620,Amelia Rourke,https://play-lh.googleusercontent.com/a/AGNmyx...,I vote it 5 stars because its fun u can make f...,5,0,3.16.200,2023-03-28 08:33:11,NaN,NaN,"['vote', 'star', 'fun', 'u', 'make', 'friend',..."
4,15,91640dba-331a-4e33-9bcd-62402712e936,kiana khani,https://play-lh.googleusercontent.com/a-/ACB-R...,Does this game have hackers? My parents are wo...,5,0,NaN,2023-03-28 06:35:22,NaN,NaN,"['doe', 'game', 'hacker', 'parent', 'worried',..."
...,...,...,...,...,...,...,...,...,...,...,...,...
64469,158815,5fafc22f-601b-4889-8a4d-c10386b82494,A Google user,https://play-lh.googleusercontent.com/EGemoI2N...,This app is amazing. Even though it can lag so...,5,5,2.2.0,2018-09-29 06:10:50,Thank you for using ZEPETO. Have a lovely day ...,2018-10-02 19:29:39,"['app', 'amazing', 'lag', 'doe', 'give', 'sens..."
64470,158818,46d1cba7-ef51-4b4b-82c1-1864d9707aba,A Google user,https://play-lh.googleusercontent.com/EGemoI2N...,This App is Great. And the characters are cute...,5,8,2.2.0,2018-09-28 23:33:46,Thank you for using ZEPETO. Have a lovely day ...,2018-10-02 19:22:36,"['great', 'character', 'cute', 'great', 'graph..."
64471,158819,441187d2-d45d-48dd-acd3-6374e6b66964,A Google user,https://play-lh.googleusercontent.com/EGemoI2N...,This game very so nice and this game very so g...,5,2,NaN,2018-09-28 20:28:53,Thank you for using and loving ZEPETO . Have a...,2018-10-02 19:14:01,"['game', 'nice', 'game', 'good', 'get', 'wrong..."
64472,158821,162c10c7-63ff-415d-b44e-4f112f251e59,A Google user,https://play-lh.googleusercontent.com/EGemoI2N...,I love this app so much is like a mini doll/si...,5,5,2.1.0,2018-09-26 08:15:08,Thanks to play ZEPETO and the kindly review! W...,2018-09-28 15:13:47,"['love', 'much', 'mini', 'doll', 'sims', 'imvu..."
64473,158825,6d398dc8-1b5f-4aba-b41a-39140e23faef,A Google user,https://play-lh.googleusercontent.com/EGemoI2N...,Cute... but there's not much to do. It's like ...,3,1,2.1.0,2018-09-23 06:08:35,Please try the new version! You can chat with ...,2018-09-28 14:18:19,"['much', 'miitomo', 'socializing', 'style', 'a..."

In [ ]:
from ast import literal_eval

# Î¨∏ÏûêÏó¥ÏùÑ Î¶¨Ïä§Ìä∏Î°ú Î≥ÄÌôò
def str_to_list(x):
    try:
        return literal_eval(x)
    except: #Ìï¥Îãπ Í∞íÏù¥ nullÍ∞íÏù¥Í±∞ÎÇò Ïò§Î•òÍ∞Ä ÏûàÏùÑ Îïå, NoneÏùÑ return ÌïòÍ∏∞
        return None

data['words_selected'] = data['words_selected'].apply(lambda x: str_to_list(x))

In [117]:
count = {}   #ÎèôÏãúÏ∂úÌòÑ ÎπàÎèÑÍ∞Ä Ï†ÄÏû•Îê† dict
for line in data['words_selected']:
    #ÌïòÎÇòÏùò Î¨∏ÏÑúÏóêÏÑú ÎèôÏùºÌïú Îã®Ïñ¥Í∞Ä ÎëêÎ≤à ÎÇòÏôÄÎèÑ ÎëêÎ≤àÏùò ÎèôÏãúÏ∂úÌòÑÏúºÎ°ú Í≥†Î†§X
    words = line
    #ÌïúÏ§ÑÏî© ÏùΩÏñ¥ÏôÄÏÑú Îã®Ïñ¥Î≥ÑÎ°ú Î∂ÑÎ¶¨(uniqueÌïú Í∞íÏúºÎ°ú Î∞õÏïÑÏò§Í∏∞)
    #splitÏùÄ ÎùÑÏñ¥Ïì∞Í∏∞Î•º Îã®Ïñ¥Î°ú Íµ¨Î∂ÑÌïòÎùºÎäî Ìï®Ïàò 
    
    for i, a in enumerate(words):
        for b in words[i+1:]:
            if a!=b:
              if a>b: 
                  count[b, a] = count.get((b, a),0) + 1  
              else :
                  count[a, b] = count.get((a, b),0) + 1

In [118]:
df=pd.DataFrame.from_dict(count, orient='index')
df.head()

                   0
(receive, zem)    35
(receive, waste)  10
(receive, time)   32
(play, receive)   10
(game, receive)   92

In [119]:
list1=[]
for i in range(len(df)):
    #indexÎ•º Ï§ëÏã¨ÏúºÎ°ú Í≥ÑÏÜç Ï§ëÏ≤©Ìï¥ÏÑú listÏóê ÎÑ£ÎäîÎã§ 
    list1.append([df.index[i][0],df.index[i][1],df[0][i]])
    
#pandas Ïù¥Ïö©Ìï¥ÏÑú dfÌòïÌÉúÎ°ú ÎßåÎì§Í∏∞ 
df2=pd.DataFrame(list1, columns=["term1","term2","freq"])

In [120]:
#pandas Ïù¥Ïö©Ìï¥ÏÑú sorting ÌïòÍ∏∞ (ÎîîÌè¥Ìä∏Í∞Ä Ïò§Î¶ÑÏ∞®ÏàúÏù¥ÎùºÏÑú false Íº≠ Ïç®Ï§òÏïº ÎÇ¥Î¶ºÏ∞®ÏàúÏúºÎ°ú ÎÇòÏò¥)
df3=df2.sort_values(by=['freq'],ascending=False)
df3.head(100)

         term1     term2   freq
733       game      love  11239
22        game      play  10280
325       game      good   8183
322       game    please   7247
224       game       get   6654
...        ...       ...    ...
569       make         u   1884
27848     dont  download   1876
5473      game        ha   1872
5893       app       say   1867
5155   amazing       app   1866

[100 rows x 3 columns]

In [121]:
import numpy as np
import networkx as nx
import operator
G=nx.Graph()
for i in range(len(df3)):
    G.add_edge(df3['term1'][i], df3['term2'][i], weight=int(df3['freq'][i]))

In [114]:
nx.write_graphml_lxml(G, "/content/drive/MyDrive/·Ñâ·Ö•·Üº·ÑÄ·Ö≤·Ü´·ÑÄ·Ö™·Ü´·ÑÉ·Ö¢/graph.graphml")